#inquireButtonHeader, #costumesButtonHeader, #contactsButtonHeader, .footerP, .footerT {
    transition: text-shadow 0.3s ease-in-out;
}

#inquireButtonHeader:hover, #costumesButtonHeader:hover, #contactsButtonHeader:hover, .footerP:hover, .footerT:hover  {
    text-shadow: 0px 0px 5px white;
    cursor: pointer;
}

#header, #footer {
    border: 5px rgb(145, 103, 103) solid;
}
