
.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
/* header */

.header {
    background-color: rgb(207, 120, 131);
    color:aliceblue;
}

#dcsLogo {
    width: 65px;
    height: 65px;
    border-radius: 50px;
    padding: auto;
}

#header {
    display: flex;
    flex-direction: row;
}

#leftHeader {
    margin-left: 10px;
    cursor: pointer;
}

#rightButtonsHeader {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

#inquireButtonHeader, #costumesButtonHeader, #contactsButtonHeader {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

/* main content */

.mainContent {
    margin-bottom: auto;
    padding: 25px;
    margin-left: 10%;
    margin-right: 10%;
}

#landingPage {
    height: 250px;
}

#landingDiv1 {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    margin: 0;
}

#announcement {
    align-items: center;
    font-size: 0.90em;
    width: 50%;
    border: 1px solid;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 15px;
}

#announcements {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

#viewCostumesButton {
    background-color: rgb(207, 120, 131);
    border-radius: 10px;
    border: 0;
    font-size: 1.2em;
    color:aliceblue;
    height: 50px;
    width: 180px;
    cursor: pointer;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, font-size 0.3s ease-in-out,  text-shadow 0.3s ease-in-out;

}

#viewCostumesButton:hover {
    width: 200px;
    height: 60px;
    font-size: 1.3em;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, font-size 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    text-shadow: 0px 0px 5px white;
}



#randomCostumes, #genshinCostumes, #kidsCostumes {
    width: 1330px;
    padding: 1px;
}

#kidsCostumes {
    border-bottom: 2px solid #ddd;
}

#costumeList, #costumeList2, #costumeList3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* others */

.others {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

#wantSomethingMade {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}

#wsmIMG {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: 15%;
}

/* footer */

#footer {
    background-color: rgb(207, 120, 131);
    color:aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

#leftFooter {
    margin-left: 15px;
    font-size: 0.80em;
}

#rightFooter {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    font-size: 0.80em;
}

#costumesDivFooter, #inquireDivFooter{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 165px;
}