
.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

body, head {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}
/* header */

.header {
    background-color: rgb(207, 120, 131);
    color:aliceblue;
}

#dcsLogo {
    width: 65px;
    height: 65px;
    border-radius: 50px;
    padding: auto;
}

#header {
    display: flex;
    flex-direction: row;
}

#leftHeader {
    margin-left: 10px;
}

#rightButtonsHeader {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

#rightButtonHeader {
    margin-left: 10px;
    margin-right: 10px;
}

/* main content */

.mainContent {
    margin-bottom: auto;
    padding: 25px;
    min-height: 715px;
}

#costumes {
    padding: 1px;
}

#costumesBar {
    display: flex;
    flex-direction: row;
}

#bars {
    margin: 22px;   
    margin-left: auto;
}

#costumeList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
}

#inclusions {
    width: 275px;
}

/* others */

.others {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* footer */

#footer {
    background-color: rgb(207, 120, 131);
    color:aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

#leftFooter {
    margin-left: 15px;
    font-size: 0.80em;
}

#rightFooter {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    font-size: 0.80em;
}

#costumesDivFooter, #inquireDivFooter{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 165px;
}