
.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

body, head {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}
/* header */

.header {
    background-color: rgb(207, 120, 131);
    color:aliceblue;
}

#dcsLogo {
    width: 65px;
    height: 65px;
    border-radius: 50px;
    padding: auto;
}

#header {
    display: flex;
    flex-direction: row;
}

#leftHeader {
    margin-left: 10px;
    cursor: pointer;
}

#rightButtonsHeader {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

#inquireButtonHeader, #costumesButtonHeader, #contactsButtonHeader {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

/* main content */

.mainContent {
    margin-bottom: auto;
    padding: 25px;
    min-height: 715px;
}

#costumes {
    padding: 1px;
}

#costumesBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.expanded {
    max-height: 300px; /* Adjust based on content */
    opacity: 1;
}

#filterCheckBoxes {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    
    display: flex;
    flex-direction: row;

    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#genderCheckBoxes, #typeCheckBoxes, #sizesCheckBoxes, #availableCheckBoxes {
    user-select: none;
}

#bars {
    display: flex;
    align-items: center;
    gap: 10px; 
}

#searchBar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#sortBar {
    padding: 5px;
    border-radius: 5px;
}

#filterBar {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 75px;
}

#filterArrow {
    width: 10px;
    transition: transform 0.3s ease-in-out;
}

#costumeList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
    gap: 15px;
}


#inclusions {
    width: 275px;
}

/* others */

.others {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* footer */

#footer {
    background-color: rgb(207, 120, 131);
    color:aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

#leftFooter {
    margin-left: 15px;
    font-size: 0.80em;
}

#rightFooter {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    font-size: 0.80em;
}

#costumesDivFooter, #inquireDivFooter{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 165px;
}